<nav class='top-bar' data-topbar>
  <header>
    <a href='/'><h1>Quiche</h1></a>
    <form action='/items'method='get'>
      <input id='search_text' name='query' autocomplete="off" type='text'></input>
      <input id='search_button' type='image' src='svg/search.svg'></input>
      <div id='suggest' style='display:none;'></div>
    </form>
  </header>
</nav>
<div class='wrapper'>
  <% ['main', 'gouter'].each do |quiche_type| %>
    <%= render partial: 'items', locals: {items: @items, quiche_type: quiche_type, current_page: @current_page, query: @query} %>
  <% end %>
</div>
