/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require font-awesome
 */
 @import 'compass/reset';

 /*@import url(http://fonts.googleapis.com/css?family=Open+Sans:300);*/
 @font-face {
  font-family: 'mplus-1c-thin';
  src: url(http://l0o0l.info/material/fonts/mplus-1c-thin.ttf) format('opentype');
 }
 @font-face {
  font-family: 'mplus-1c-light';
  src: url(http://l0o0l.info/material/fonts/mplus-1c-light.ttf) format('opentype');
 }

@mixin little_transition {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all  0.3s ease;
}

$user_color: #660;
$link_color: rgb(13, 177, 211);

$headings: h1, h2, h3, h4, h5, h6;
$size: 1.8em, 1.6em, 1.4em, 1.3em, 1.2em, 1.1em;
$head-size: zip($headings, $size);

*, a, .date, h3 {
  font-family: 'mplus-1c-light';
}
h1, .time {
  font-family: 'mplus-1c-thin';
}
p, .content, .comments, .read_more_content {
   font-family: 'Helvetica', Helvetica, Arial, sans-serif;
}
a { color: $link_color; }

html, body, .wrapper {
  height: 100%;
}
html, body {
  overflow: hidden;
}

.user_icon img {
  border-radius: 50%;
  vertical-align: middle;
}

#{$headings} {
  line-height: 1;
}
.wrapper {
  width: 1000px;
  margin: auto;
}
body {
  background-color: #ffffff;
  background-image: url(http://www.transparenttextures.com/patterns/white-tiles.png);
  background-attachment: fixed;
  nav {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 5;
    background-color: #1c1c1c;
    background-image: url(http://www.transparenttextures.com/patterns/green-fibers.png);
    header {
      width: 1000px;
      margin: auto;
      h1 {
        float: left;
        color: #fff;
        font-size: 30px;
        padding: 10px;
      }
      form {
        float: right;
        position: relative;
        margin: 10px;
        opacity: 0.6;
        input {
          height: 22px;
          padding: 4px;
          background-color: #fafbff;
        }
        input#search_text {
          width: 182px;
          border: none;
        }
        input#search_button {
          position: absolute;
          top: 0;
          _top: 1px;
          left: 190px;
        }
      }
    }
  }
  .contents {
    width: 1000px;
    height: 95%;
    margin: 50px auto;
    padding: 20px 0;
    overflow-y: scroll;
    overflow-x: hidden;
    .row {
      width: 100%;
      float: left;
      clear: both;
      height: 190px;
      .column_date {
        width: 13%;
        float: left;
        margin-top: -2px;
        .date {
          font-size: 12px;
          color: #cc0;
          line-height: 17px;
        }
        .time {
          font-size: 30px;
          color: #660;
          border-top: 1px solid #990;
          margin-right: -43px;
        }
      }
      .column_left {
        float: left;
        width: 6%;
        position: relative;
        height: 150px;
        &:after {
          content: '';
          position: absolute;
          left: 15px;
          top: 34px;
          border-left: 1px solid $user_color;
          height: 101%;
        }
        .user_icon {
          margin: -4px;
          img {
            border: 1px solid $user_color;
            padding: 3px;
            background: #fff;
            width: 30px;
          }
        }
      }
      .column_right {
        float: left;
        width: 78%;
        margin-top: 3px;
        height: 190px;
        position: relative;
        h3.title {
          font-size: 20px;
          white-space: nowrap;
          overflow: hidden;
          a {
            font-size: 20px;
            text-align: center;
            border-radius: 10px;
            letter-spacing: 2px;
            text-decoration: none;
            &:hover {
              text-decoration: underline;
            }
          }
        }
        .thumbnail {
          margin: 18px 8px;
          float: left;
          width: 144px;
          overflow: hidden;
          height: 120px;
          img {
            border-radius: 10px;
            border-right: 1px solid #660;
            padding: 5px;
            width: 91%;
            border-left: 1px solid #cc0;
          }
        }
        .content {
          width: 65%;
          margin: 16px;
          font-weight: 100;
          font-size: 14px;
          float: left;
          line-height: 20px;
          word-break: break-all;
          .article {
            height: 60px;
            overflow-y: hidden;
          }
          .reader_label {
            color: #858134;
            background: #EEEE86;
            border-radius: 8px;
            padding: 2px 5px;
            line-height: 37px;
          }
          .user_icon {
            margin-left: 3px;
            img {
              border: 1px solid #cc0;
              padding: 3px;
              width: 24px;
            }
            &:before {
              content: '';
              position: absolute;
              margin: 18px -7px;
              border-top: 2px solid #DDDD3C;
              width: 8px;
            }
          }
        }
        .new_comment {
          textarea {
            width: 100%;
          }
        }
        .buttons {
          bottom: 10px;
          right: 10px;
          position: absolute;
          .delete_button,
          .read_button,
          .read_more,
          .private {
            a {
              text-decoration: none;
              color: #ccd;
              i {
                border: 1px solid;
                border-radius: 50%;
                &:hover, &.already_read {
                  background: #333;
                }
              }
            }
          }
          .private {
            pointer-events: none;
            i { padding: 3px 6px 2px 6px; }
          }
          .delete_button i { padding: 3px 4px 2px 5px; }
          .read_more i { padding: 3px 3px 2px 3px; }
          .read_button i { padding: 3px 3px 2px 3px; }
          a.comment {
            padding: 0 6px;
            background: #8DDFF0;
            border-radius: 10px;
            line-height: 28px;
            color: #fff;
            text-decoration: none;
            text-align: center;
            white-space: nowrap;
            font-size: 16px;
            i {
              font-size: 20px;
            }
            &:hover {
              background: #5FD0E7;
            }
          }
        }
        .comment_modal,
        .read_more_modal {
          height: 500px;
          width: 500px;
          overflow-x: hidden;
          overflow-y: scroll;
          .read_more_content {
            line-height: 26px;
            img {
              max-width: 400px;
              display: block;
              margin: 25px auto;
            }
            #{$headings} {
              margin: 30px 0px;
              font-family: 'Helvetica', Helvetica, Arial, sans-serif;
            }
            @each $a in $head-size {
              #{nth($a, 1)} {
                font-size: nth($a, 2);
              }
            }
          }
          .field {
            width: 85%;
            float: left;
            textarea {
              border: 1px solid #660;
              outline: none;
            }
          }
          input {
            float: right;
            border-radius: 50%;
            color: #fff;
            background: #0DB1D3;
            border: none;
            outline: none;
            width: 45px;
            height: 45px;
            &:hover {
              background: #63C6F8;
            }
          }
          .comments {
            clear: both;
            p { margin-bottom: 5px}
            .user_icon {
              img {
                line-height: 25px;
                border: 1px solid #660;
                padding: 3px;
              }
              &:after {
                content: '';
                position: absolute;
                margin: -6px -21px;
                border-top: 7px solid #660;
                width: 1px;
              }
            }
            .comment_date {
              background: #cc0;
              color: #fff;
              border-radius: 3px;
              padding: 1px 4px;
              font-size: 12px;
              white-space: nowrap;
            }
            .comment {
              font-size: 14px;
              line-height: 28px;
            }
          }
        }
      }
    }
    .page_link {
      width: 100%;
      height: 100px;
      padding: 10px;
      div {
        width: 33.3%;
        padding: 50px 0px;
        float: left;
        margin-right: -5px;
      }
      .center {
        text-align: center;
      }
      .right {
        img { float: right;}
      }
    }
    &.main_quiches {
      width: 750px;
      float: left;
    }
    &.gouter_quiches {
      width: 250px;
      float: right;
      .article {
        width: 100px;
      }
      .row {
        position: relative;
        height: auto;
        &:hover {
          .column_date, .column_right .buttons {
            opacity: 1;
          }
        }
        .column_date {
          width: auto;
          opacity: 0;
          -webkit-transform: rotate(-90deg);
          -moz-transform: rotate(-90deg);
          top: 65px;
          left: 3px;
          @include little_transition;
          position: absolute;
          .date {
            font-size: 12px;
          }
          .time {
            font-size: 20px;
            border: none;
            margin-right: auto;
            text-align: center;
          }
        }
        .column_left {
          width: 15%;
          margin-left: 20px;
          height: 140px;
          .user_icon img {
            width: 24px;
            margin: 3px;
          }
          &:after {
            left: 15px;
            top: 34px;
            height: 73%;
          }
        }
        .column_right {
          width: 70%;
          height: auto;
          h3 {
            height: 42px;
            margin-top: -10px;
            white-space: normal;
            a {
              font-size: 14px;
            }
          }
          .thumbnail {
            width: 80%;
            height: 80px;
            float: none;
            position: absolute;
            left: 10px;
            margin: 5px auto;
          }
          .content {
            display: none;
          }
          .buttons {
            opacity: 0;
            bottom: -70px;
            right: -60px;
            -webkit-transform: rotate(90deg);
            -moz-transform: rotate(90deg);
            @include little_transition;
            padding: 5px;
            border-radius: 14px;
            .delete_button,
            .read_button,
            .read_more {
              a i {
                font-size: 13px;
              }
            }
          }
        }
      }
    }
  }
  .truncate {
    word-break: break-all;
  }
  .login_button {
    position: fixed;
    bottom: 20px;
    right: 30px;
    background: #7E7E7E;
    padding: 4px;
    border-radius: 7px;
    color: #eee;
    font-family: 'mplus-1c-light';
    opacity: 0.7;
    a {
      color: #6BE6FF;
    }
  }
}
