.tag_div {
  display: none;
  margin-top: 5px;
  form {
    float:left;
    input.tags {
      float:left;
    }
    div.tagsinput {
      float:left;
      background: transparent;
      padding: 0px;
      border-width: 0px;
      .tag {
        border-radius: 2px;
        border-width: 0px;
        position: relative;
        margin-left: 16px;
        height: 20px;
        line-height: 20px;
        padding: 0 5px 0 12px;
        span {
          cursor: pointer;
          &:hover { color: #224204; }
        }
        a:hover { color: #224204; }
        &:before {
          content: "";
          position: absolute;
          left: -11px;
          border-color: transparent #cde69c transparent transparent;
          border-style: solid;
          border-width: 10px 12px 10px 0;
        };
        &:after {
          content:"";
          position:absolute;
          top: 8px;
          left: 0;
          float: left;
          width: 4px;
          height: 4px;
          border-radius: 2px;
          background: #fff;
        };
        a {
          font-weight: normal;
        }
      }
    }
    div {
      margin: 0px;
      input {
        margin: 0px;
        padding-top: 2px;
        padding-bottom: 2px;
        border-width: 0px;
      }
    }
    input.submit {
      display: none;
    }
  }
}
