.tag_div {
  margin-top: 5px;
  form {
    float:left;
    input.tags {
      float:left;
    }
    div.tagsinput {
      float:left;
      //min-width: 500px;
      background: transparent;
      padding: 0px;
      border-width: 0px;
      .tag {
        height: 21px;
        margin-bottom: 0px;
        padding-top: 0px;
        padding-bottom: 0px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        border-width: 0px;
      }
    }
    div {
      margin: 0px;
      input {
        //width: auto;
        margin: 0px;
        padding-top: 2px;
        padding-bottom: 2px;
        //border: 1px solid rgb(165, 210, 74);
        //background: rgb(205, 230, 156);
        //border-top-right-radius: 10px;
        //border-bottom-right-radius: 10px;
        border-width: 0px;
      }
      input:focus {
        //background: transparent;
        //border-width: 0px;
      }
      input.not_valid {
        //border-color: transparent;
      }
    }
    input.submit {
      display: none;
    }
  }
}